/*--预设--*/
body {
    padding: 0px;
    margin: 0px;
}

#lyrow,
#lyrow input,
#lyrow textarea {
    font-size: 12px;
    font-family: 'Microsoft YaHei', '微软雅黑', MicrosoftJhengHei, '华文细黑', STHeiti, MingLiu;
}

#lyrow {
    height: 100vh;
    width: 100vw;
}

#lyrow div {
    min-height: 18px;
}

#lyrow input,
#lyrow textarea {
    border: rgb(235, 235, 235) 1px solid;
    border-radius: 3px;
    padding: 5px 8px;
    outline: 0;
}

#lyrow input:hover,
#lyrow textarea:hover {
    border: 1px solid #6bc1f2;
}

a{
    text-decoration: none;
}

/*--编辑--*/
#lyrow .daohanglan {
    height: 12%;
    justify-content: space-between;
    display: flex ;
    width: 100%;
}

#lyrow .loog {
    justify-content: flex-start;
    display: flex ;
    align-self: baseline;
    align-items: center;
    width: 35%;
}

#lyrow .loogimg {
    width: 80px ;
    height: 59px ;
    padding: 8px 0 0 0;
}

#lyrow .loogname {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    padding: 3% 0 0 30px;
    letter-spacing: 4px;
    position: static;
}


#lyrow .caidanlan {
    width: 35%;
    justify-content: space-around;
    display: flex ;
    align-items: center;
}

#lyrow .yi {
    font-size: 16px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    cursor: pointer;
}

#lyrow .er {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

#lyrow .san {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

#lyrow .si {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

#lyrow .wu {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

#lyrow .beijing {
    background-image: url('../img/首页.jpg');
    height: 100%;
    background-size: cover;
    width: 100%;
}

#lyrow .loogkuang {
    margin: 0 0 0 20px;
}

#lyrow .loogmingz {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bolder;
}

#lyrow .quanju {
    height: 100%;
    justify-content: center;
    display: flex ;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#lyrow .biaoti {
    outline: rgb(255, 255, 255, 1) dotted 0;
    height: 85%;
    justify-content: center;
    display: flex ;
    flex-wrap: wrap;
    width: 100%;
}

#lyrow .biaotireirong {
    width: 100%;
    align-items: center;
    display: flex ;
    justify-content: center;
}

#lyrow .bmanniu {
    width: 100%;
    align-items: center;
    display: flex ;
    justify-content: center;
}

#lyrow .title {
    align-items: center;
    display: flex ;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 40px;
}

#lyrow .baoming {
    outline: rgba(255, 255, 255, 1) solid 2px;
    width: 145px ;
    height: 60px ;
    align-items: center;
    display: flex ;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    border-radius: 50px 50px 50px 50px;
}

#lyrow .konghang {
    width: 100%;
}

#lyrow .sanimg {
    justify-content: space-around;
    display: flex ;
    width: 1000px ;
    align-items: flex-start;
    margin: -80px 0 0 0;
    height: 400px ;
    box-shadow: 5px 0 12px 10px rgba(0, 0, 0, 0.59);
}

#lyrow .yiimg {
    width: 280px ;
    height: 360px ;
    align-self: baseline;
}

#lyrow .simg {
    background-color: rgba(4, 104, 137, 1);
    width: 280px ;
    height: 360px ;
}

#lyrow .erimg {
    background-color: rgba(4, 104, 137, 1);
    width: 280px ;
    height: 360px ;
}

#lyrow .inimg {
    height: 50%;
    align-items: center;
    display: flex ;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

#lyrow .text {
    height: 50%;
    margin: 20px 0 0 0;
    flex-direction: column;
    display: flex ;
}

#lyrow .img_one {
    height: 90%;
    width: 93%;
}

#lyrow .text_title {
    justify-content: center;
    display: flex ;
    align-items: center;
}

#lyrow .text_content {
    padding: 10px 0 0 3px;
    text-indent: 32px;
    align-items: baseline;
    display: flex ;
    justify-content: center;
}

#lyrow .ttitle_h {
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
}

#lyrow .cnt {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    line-height: auto;
    font-weight: normal;
}

#lyrow .da {
    justify-content: center;
    display: flex ;
    height: 100%;
}

#lyrow .newsbox {
    height: 100%;
    /* justify-content:center;
    /* flex-direction:column; */
    /* display: flex ; */
    /* flex-wrap: wrap; */ 
    width: 100%;
}

#lyrow .title_img {
    align-items: baseline;
    display: flex ;
    justify-content: center;
    width: 100%;
    height: 400px ;
}

#lyrow .news_box_box {
    margin: auto;
    width: 960px ;
    height: 8%;
}

#lyrow .tittle_box {
    justify-content: space-between;
    display: flex ;
    padding: 0 0 0 20px;
    width: 300px ;
}

#lyrow .title_box_one {
    background-color: rgba(128, 29, 174, 1);
    width: 6%;
}

#lyrow .newstit {
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    align-items: flex-end;
    display: flex ;
    font-size: 25px;
    background-color: rgba(70, 120, 151, 1);
    width: 120px ;
    height: 35px ;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

#lyrow .inform {
    color: rgba(70, 120, 151, 1);
    font-size: 25px;
    align-items: flex-end;
    display: flex ;
    width: 120px ;
    height: 35px ;
    justify-content: center;
}

#lyrow .boxs {
    border-bottom: rgba(70, 120, 151, 1) solid 2px ;
}

#lyrow .content {
    margin: auto;
    width: 1100px ;
    height: 600px ;
    /* align-items: center; */
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}

#lyrow .content_box {
    height: 150px ;
    justify-content: space-between;
    width: 940px ;
    align-items: center;
    display: flex ;
}

#lyrow .content_boxs {
    outline: rgba(70, 120, 151, 1) solid 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.51);
    align-items: center;
    justify-content: center;
    display: flex ;
    width: 960px ;
    height: 150px ;
}

#lyrow .new_img {
    width: 30%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex ;
}

#lyrow .new_content {
    width: 65%;
    height: 100%;
    flex-wrap: wrap;
    display: flex ;
    justify-content: center;
}

#lyrow .content_title {
    height: 30%;
    align-items: center;
    display: flex ;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

#lyrow .box_content {
    height: 70%;
    align-items: center;
    display: flex ;
}

#lyrow .content_text {
    width: 100%;
    height: 80%;
    text-indent: 32px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}

#lyrow .htit {
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
}

#lyrow .textbox {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}

#lyrow .nimg {
    width: 100%;
    height: 100%;
}

#lyrow .contentd {
    height: 90%;
    flex-wrap: wrap;
    align-items: center;
    display: flex ;
}

#lyrow .morecontent {
    width: 100%;
    height: 50px ;
    justify-content: center;
    display: flex ;
    align-items: center;
}

#lyrow .more_button {
    background-color: rgba(255, 255, 255, 1);
    width: 160px ;
    height: 38px ;
    justify-content: center;
    display: flex ;
    align-items: center;
    outline: rgba(70, 120, 151, 1) solid 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

#lyrow .mbutton {
    color: rgba(70, 120, 151, 1);
    font-size: 16px;
    font-weight: bold;
}

#lyrow .end {
    width: 100%;
    height: 200px ;
    display: flex ;
    background-color: rgba(70, 120, 151, 1);
    margin: 80px 0 0 0;
}

#lyrow .loog_img {
    width: 200px ;
}

#lyrow .copyright {
    align-items: center;
    justify-content: center;
    display: flex ;
    width: 100%;
}

#lyrow .copyright_info {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
}

/* 交互效果（伪类选择器） */
.yi:hover{
    font-size: 20px;
}